.block,.bloco.display-bloco{
    display:block !important;
}
.flex,.flexionado,.display-flex,.display-elastico,.elastico{
    display:flex !important;
}
.display-none,.sem-display,.display-nenhum,.display-nada{
    display:none !important;
}
.inline-block,.block-linha,.bloco-mesma-linha,.display-inline-block{
    display:inline-block !important;
}
.flex-direction-column,.direcao-flex-coluna,.direcao-coluna,.coluna-flex{
    flex-direction:column !important;
}
.align-center,.alinhar-centro,.y-centro,.flex-y-centro{
    align-items:center !important;
}
.align-start,.alinhar-inicio,.y-inicio,.flex-y-inicio{
    align-items:start !important;
    align-self: start !important;
}
.justify-center,.justifica-centro,.x-centro,.flex-x-centro{
    justify-content:center !important;
}