.texto-branco{
    color:#fff;
}

.texto-preto{
    color:#000;
}

.texto-cinza-claro{
    color:#eee;
}

.texto-cinza-escuro{
    color:#ccc;
}

.texto-azul-escuro{
    color:#115;
}

.texto-azul-claro{
    color:#11a;
}

.texto-azul-link{
    color:#11f;
}